.ItemImg{
    height: 300px;
    max-width: 300px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: all 1s ease-in-out;
    transition-delay: 0.5s;

}

.ItemImg:hover{
    transform: scale(1.2);
}