.prez{
    display: flex;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    padding-left: 30px;
}

.grey{
    text-align: end;
    position: absolute;
    bottom: 0;
    right: 0;
}