
    
    .menuButton {
    padding: 6px 6px 6px 32px;
    font-size: var(--menu-font-size);
    color: var(--white);
    border: none;
    text-align: center;
    background-color:transparent;
    text-decoration: none;

    }
    
    .menuButton:hover {
    color: var(--red);
    }

    .menuButtonLevel1 {
        text-decoration: underline var(--red) 3px;
        font-size: 50px;

    }

