
    
    .menuButton {
    padding: 6px 6px 6px 32px;
    font-size: 25px;
    color: var(--white);
    border: none;
    text-align: center;
    background-color:transparent;
    text-decoration: none;
    }
    
    .menuButton:hover {
    color: var(--red);
    }

