.logotest{
    font-size: 40px;
    background-color: var(--background-logo-search);
    box-shadow:var(--shadow-div);
    margin: 10px;
    padding: 20px;
    color: var(--red);
    border-radius: 10px;
}


.logotest img{

    max-width: 70px;
    height: auto;
    float: left;
    margin-right: 10px;
}

.alink{
    text-decoration: none;
}

