/* CSS variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #F68D28;
  --background-center:#34374C;
  --background-side: #2C2E3E;
  --backgroung-logo-search: #20212D;
  --white: #F6F6F6;
  --red: #EE2B47;
  --background-pixel:#393C53;
  --menu-font-size: 30px ;
  --shadow-div: 2px -2px 10px black;
  background-color: var(--background-center);
}