/* CSS variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #F68D28;
  --background-center:#34374C;
  --background-clip: #2C2E3E;
  --backgroung-logo-search: #20212D;
  --white: #F6F6F6;
  --red: #EE2B47;
  --background-pixel:#393C53;
}