
    
    .menuButton {
    padding: 6px 6px 6px 32px;
    font-size: 25px;
    color: red;
    border: none;
    text-align: center;
    background-color:transparent;

    }
    
    .menuButton:hover {
    color: green;
    }
    
