
    
    .menuButton {
    padding: 6px 6px 6px 32px;
    font-size: 25px;
    color: #F6F6F6;
    border: none;
    text-align: center;
    background-color:transparent;

    }
    
    .menuButton:hover {
    color: #EE2B47;
    }

