.SearchBar{
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    margin: 50px;
}

.position{
    position: relative;

}

.input{
    background-color: var(--background-logo-search);
    color: var(--white);
    border: solid 2px var(--red);
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    box-shadow: var(--shadow-div);

}

.position img{
    position: absolute;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: auto;
}