.musicplayer {
  color : white;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-bottom: 20px;
  }
    
    .main {
    margin-bottom: 100px; /* Same as the width of the sidenav */
    }